[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django-admin = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
